@charset "utf-8";

header{
  margin-top: 30px;
  color: #1872CC;
}
hr{
  border-width: 3px;
  border-color: #1872CC;
}
h1{
    font-size: 160%;
    font-weight: bold;
    margin: 0;
  text-align: center;
}
p{
    font-size: 16px;
      font-weight: bold;
      margin: 0;
      text-align: center;
  }
.align-light{
    text-align: right;
}
.form-group{
  margin-bottom: 35px;
}
footer p{
    font-size: 15px;  
  text-align: center;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}
input:valid{
  background: transparent;
}
input:focus{
  background: #DCEDC8;
}

/* 新規登録用ボタン */
.btn--orange{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    left: 23.8%;
}
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
   border-radius: 125vh;
}

a.btn--orange.btn--cubic {
    border-bottom: 5px solid #BF6600;
  }
  
  a.btn--orange.btn--cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid #BF6600;
  }
  
  a.btn--radius {
    border-radius: 100vh;
  }
  
  .fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
  }
  
  /* 登録用ボタン */
  .btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    left: 23.8%;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }