@charset "utf-8";

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 300%;
	color: rgb(94, 181, 221);
	border-bottom: 2px double #1872cc;
}

h3  {
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 25px;
    margin-top: 35px;
    padding-bottom: 2px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.dotira{
	color: rgb(212, 44, 218);
}

.back_color01 {
	background-color: #f3f3f2;
	padding-left: 7.5%;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-top: 7px;
}

.back_color8 {
	padding: 7px;
	border: 1px solid #666666;
}

.test01 {
    margin-top: 30px;
    margin-bottom: 28px;
	display:table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
	width:85%;
    border-spacing: 8px 0;
    position: relative;
}
.test01 label {
	display:table-cell;
    vertical-align:middle;
    text-align:center;
	border-radius: 4px;
    width: 40%;
	height: 70px;
    transition: .4s;
    text-decoration: none;
	padding-left: 5x;
	padding-right: 5px;

	margin-left: 2px;
	margin-bottom: 30px;
}

.test01 input[type=radio] {
display: none; /* ボタン非表示にする */
}

.test01 label:hover {
	background-color: #FFFBE1;
}
.test01 label:active {
	background-color: #FFFBE1;
}
.test01 input:checked + label {
	background-color: #FFFBE1;
}

	/* ラジオボタンここまで */

    /* 送信ボタンここから */
.sbt_1{
    display:table;
    margin-left: auto;
    margin-right: auto;
	width: 83%;
	height: 80px;
	background-color: #e83f22;
	border: none;
	color: #fff;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	font-family: 'メイリオ',Meiryo,"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3";
}
.sbt_1:hover{
	background-color: #888888 !important;
	color: #fff;
}

/*Roomのcss*/
#chatArea{
	height: 85vh;
	background-color: lightblue;
	overflow: scroll;
}

.nameBallon{
	display: inline-block;
  border-radius: 30px;
	background-color: white;
	width: 30px;
	text-align: center;
}
.chatBalloon{
	display: inline-block;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	background-color: white;
	max-width: 120px;
	text-align: center;
}
.timeBallon{
	font-size: 10px;
}
.leftChat{
	text-align: left;
}
.rightChat{
	text-align: right;
}